body {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}

button {
  min-width: 125px;
  padding: 6px 12px;
  background-color: rgb(13, 110, 253);
  border: 1px solid rgb(13, 110, 253);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.buy {
  background-color: rgb(25, 135, 84);
  border: 1px solid rgb(25, 135, 84);
}

.sell {
  background-color: rgb(187, 45, 59);
  border: 1px solid rgb(187, 45, 59);
}

.properties, .header, .footer, .search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 0;
}



input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 250px;
}

.property {
  display: grid;
  grid-template-rows: 50px 1fr auto 50px;
  width: 225px;
  height: 300px;
  border: 3px solid #333;
  cursor: pointer;
}

.property-group {
  border-bottom: 3px solid #333;
}

.property-title, .property-price, .property-action {
  padding: 0.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.deed {
  width: 300px;
  height: 300px;
  padding: 0.5rem;
  border: 3px solid #333;
}

.deed-title {
  margin: 0 0 0.5rem 0;
  padding: 1rem;
  color: white;
  text-align: center;
  text-shadow: 1px 1px #333;
  text-transform: uppercase;
}

.deed-rent {
  text-align: center;
  text-transform: uppercase;
}

.deed-improved-rents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}

.deed-improved-rents p {
  margin: 0.5rem 0;
}

.deed-improved-rents .deed-rent {
  text-align: right;
}